/* Webfont: TTFirs-ExtraBold */@font-face {
    font-family: 'TTFirsMedium';
    src: url('TTFirs-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('TTFirs-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TTFirs-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('TTFirs-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TTFirs-ExtraBold.svg#TTFirs-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

